
body {
padding: 15px;
background-color: black;
color: lightgreen;
font-family: Consolas;
}
summary {
text-align: center;
cursor: default;
}
.pages-summ {
font-size: 46px;
font-weight: 800;
}
.exer-summ {
font-size: 38px;
font-weight: 560;
}
li, ul {
color: yellow;
background-color: #646700;
text-align: left;
margin: 0;
}
